<a href="https://colab.research.google.com/github/e233826/notebook/blob/master/income.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import pyplot as plt
from sklearn import preprocessing
adult_census_income = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', 
                                  names = ["Age", "Workclass","fnlwgt","education", "education-num","marital-status",
                                           "occupation","relationship","race", "sex", "capital.gain","capital.los",
                                           "hours.per.week","native.country", "income"] , na_values=["?"])
adult_census_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
Age               32561 non-null int64
Workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital.gain      32561 non-null int64
capital.los       32561 non-null int64
hours.per.week    32561 non-null int64
native.country    32561 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [0]:

adult_census_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
Age               32561 non-null int64
Workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital.gain      32561 non-null int64
capital.los       32561 non-null int64
hours.per.week    32561 non-null int64
native.country    32561 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [0]:
adult_census_income.describe()

,Age,fnlwgt,education-num,capital.gain,capital.los,hours.per.week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [0]:
#checking missing valus since in dataset I saw that the unknown values shown via ? I replace with null
adult_census_income.replace('[?]', np.nan, regex=True , inplace=True)
adult_census_income

,Age,Workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital.gain,capital.los,hours.per.week,native.country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,NaN,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,NaN,180211,Some-college,10,Married-civ-spouse,NaN,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,NaN,33811,Bachelors,13,Never-married,NaN,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,NaN,287372,Doctorate,16,Married-civ-spouse,NaN,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,NaN,202822,HS-grad,9,Separated,NaN,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,NaN,129912,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [0]:
adult_census_income.isnull().sum()

Age                  0
Workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.los          0
hours.per.week       0
native.country     583
income               0
dtype: int64

In [0]:
adult_census_income['Workclass'].describe()

count        30725
unique           8
top        Private
freq         22696
Name: Workclass, dtype: object

In [0]:

adult_census_income['Workclass'].replace( np.nan, 'Private' ,regex=True , inplace=True)

In [0]:
adult_census_income['occupation'].describe()

count               30718
unique                 14
top        Prof-specialty
freq                 4140
Name: occupation, dtype: object

In [0]:

adult_census_income['occupation'].replace( np.nan, 'Prof-specialty' ,regex=True , inplace=True)

In [0]:

adult_census_income['native.country'].describe()

count              31978
unique                41
top        United-States
freq               29170
Name: native.country, dtype: object

In [0]:
adult_census_income['native.country'].replace( np.nan, 'United-States' ,regex=True , inplace=True)

In [0]:

adult_census_income.isnull().sum()

Age               0
Workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.los       0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [0]:
###############################################preparing dataset for ML ######################################################
adult_census_income['income'].replace('<=50K','0',regex=True, inplace = True)
adult_census_income['income'].replace('>50K','1',regex=True,inplace = True)
#in Workclass colums to reduce variables
self_employed = ['Self-emp-not-inc','Self-emp-inc']
govt_employees = ['Local-gov','State-gov','Federal-gov']
adult_census_income['Workclass'].replace(to_replace = self_employed , value = 'Self_employed',regex=True,inplace = True)
adult_census_income['Workclass'].replace(to_replace = govt_employees, value = 'Govt_employees',regex=True,inplace = True)
#in education colum to reduce variables 
hs_grad = ['HS-grad','11th','10th','9th','12th']
elementary = ['1st-4th','5th-6th','7th-8th']
adult_census_income['education'].replace(to_replace = hs_grad,value = 'HS-grad',regex=True, inplace = True)
adult_census_income['education'].replace(to_replace = elementary,value = 'elementary_school',regex=True,inplace = True)
#in marital.status colum to reduce variable 
married= ['Married-spouse-absent','Married-civ-spouse','Married-AF-spouse']
separated = ['Separated','Divorced']
adult_census_income['marital-status'].replace(to_replace = married , value = 'Married',regex=True, inplace = True)
adult_census_income['marital-status'].replace(to_replace = separated,value = 'Separated',regex=True, inplace = True)
#since some of the colums is kind of dublicate or extra data I can be deleted 
#Education num and education are giving similar information also Relationship and marital status imply similar information.Hence keeping only one of the two
adult_census_income.drop('capital.gain' ,axis = 1,inplace = True)
adult_census_income.drop('capital.los' ,axis = 1,inplace = True)
adult_census_income.drop('education-num' , axis = 1, inplace = True)
adult_census_income.drop('relationship' , axis = 1, inplace = True)
adult_census_income.drop('fnlwgt' , axis = 1, inplace = True)
from sklearn.preprocessing import LabelEncoder
lb_make = LabelEncoder()
adult_census_income['Workclass'] = lb_make.fit_transform(adult_census_income['Workclass'])
adult_census_income['education'] = lb_make.fit_transform(adult_census_income['education'])
adult_census_income['marital-status'] = lb_make.fit_transform(adult_census_income['marital-status'])
adult_census_income['race'] = lb_make.fit_transform(adult_census_income['race'])
adult_census_income['sex'] = lb_make.fit_transform(adult_census_income['sex'])
adult_census_income['occupation'] = lb_make.fit_transform(adult_census_income['occupation'])
adult_census_income['native.country'] = lb_make.fit_transform(adult_census_income['native.country'])
adult_census_income

,Age,Workclass,education,marital-status,occupation,race,sex,hours.per.week,native.country,income
0,39,1,2,1,1,4,1,40,39,0
1,50,4,2,0,4,4,1,13,39,0
2,38,3,4,2,6,4,1,40,39,0
3,53,3,4,0,6,2,1,40,39,0
4,28,3,2,0,10,2,0,40,5,0
5,37,3,5,0,4,4,0,40,39,0
6,49,3,4,0,8,2,0,16,23,0
7,52,4,4,0,4,4,1,45,39,1
8,31,3,5,1,10,4,0,50,39,1
9,42,3,2,0,4,4,1,40,39,1
10,37,3,8,0,4,2,1,80,39,1
11,30,1,2,0,10,1,1,40,19,1
12,23,3,2,1,1,4,0,30,39,0
13,32,3,0,1,12,2,1,50,39,0
14,40,3,1,0,3,1,1,40,0,1
15,34,3,9,0,14,0,1,45,26,0
16,25,4,4,1,5,4,1,35,39,0
17,32,3,4,1,7,4,1,40,39,0
18,38,3,4,0,12,4,1,50,39,0
19,43,4,5,2,4,4,0,45,39,1
20,40,3,3,0,10,4,1,60,39,1
21,54,3,4,2,8,2,0,20,39,0
22,35,1,4,0,5,2,1,40,39,0
23,43,3,4,0,14,4,1,40,39,0
24,59,3,4,2,13,4,0,40,39,0
25,56,1,2,0,13,4,1,40,39,1
26,19,3,4,1,3,4,1,40,39,0
27,54,0,8,0,0,1,1,60,35,1
28,39,3,4,2,4,4,1,80,39,0
29,49,3,4,0,3,4,1,40,39,0
...,...,...,...,...,...,...,...,...,...,...
32531,30,0,2,1,0,1,0,99,39,0
32532,34,3,3,0,10,4,1,60,39,1
32533,54,3,2,0,4,1,1,50,24,1
32534,37,3,8,2,1,4,0,39,39,0
32535,22,3,4,1,11,2,1,35,39,0
32536,34,3,2,1,4,4,0,55,39,1
32537,30,3,4,1,3,2,1,46,39,0
32538,38,3,2,2,10,2,0,45,39,1
32539,71,0,3,0,0,4,1,10,39,1
32540,45,1,4,2,1,4,0,40,39,0
32541,41,0,4,2,0,2,0,32,39,0
32542,72,0,4,0,0,4,1,25,39,0
32543,45,1,0,2,10,4,0,48,39,0
32544,31,3,5,2,8,3,0,30,39,0
32545,39,1,0,0,1,4,0,20,39,1
32546,37,3,0,2,13,4,0,40,39,0
32547,43,3,4,0,7,4,1,40,26,0
32548,65,4,7,1,10,4,1,60,39,0
32549,43,1,8,2,1,4,0,40,39,0
32550,43,4,8,0,3,4,1,50,39,0
32551,32,3,4,0,6,0,1,40,39,0
32552,43,3,1,0,12,4,1,45,39,0
32553,32,3,5,1,13,1,1,11,36,0
32554,53,3,5,0,4,4,1,40,39,1
32555,22,3,8,1,11,4,1,40,39,0
32556,27,3,0,0,13,4,0,38,39,0
32557,40,3,4,0,7,4,1,40,39,1
32558,58,3,4,3,1,4,0,40,39,0
32559,22,3,4,1,1,4,1,20,39,0
32560,52,4,4,0,4,4,0,40,39,1

In [0]:
data = adult_census_income
target = data['income']
del data['income']
data = pd.get_dummies(data)

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(data, target, train_size = 0.7)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

((22792, 108), (9769, 108), (22792,), (9769,))

In [0]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score,GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier,BaggingClassifier,ExtraTreesClassifier
#from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report,roc_curve, auc
import warnings
import time
import datetime
warnings.filterwarnings('ignore')

In [0]:
clf_knn = KNeighborsClassifier(n_neighbors=6,metric='minkowski',p=2)
clf_log = LogisticRegression()
clf_tree = DecisionTreeClassifier()
clf_SVC = SVC ()
clf_forest = RandomForestClassifier()
models = {clf_log:'Logistic Regressions',clf_tree:'Decision Tree', clf_forest:' Random Forest ',clf_log:'KNN' }
#           , clf_knn:'KNN',clf_tree:'Decision Tree',clf_SVC:'SVC' }

def training (algo,name, X_train, X_test, Y_train, Y_test):
    algo.fit(X_train,Y_train)
    y_pred = algo.predict(X_test)
    print (f"***************************{name}***************************")
    print (f"acuracy score is {accuracy_score(Y_test,y_pred)}")
    return Y_test, y_pred

def result (Y_test, y_pred):
    print ("Confusion Matrix")
    cm=confusion_matrix(Y_test, y_pred)
    print (cm) 
    TP=cm[1,1]
    TN=cm[0,0]
    FP=cm[0,1]
    FN=cm[1,0]
    from sklearn import metrics
    accuracy = metrics.accuracy_score(Y_test, y_pred)
    f1_score =  100*((2*TP) / (2*TP + FP + FN)).round(4)
    precision = 100*((TP) / (TP+FP)).round(4)
    recall = 100*((TP) / (TP+FN)).round(4)
    print (f"Accuracy is: {accuracy}%\nF1 score is: {f1_score}%\nPrecision is: {precision}%\nRecall is: {recall}%")

def main (models):
    acc_score = []
    for algo,name in models.items(): 
        start_time = time.time()
        Y_test_train,y_pred = training (algo,name,X_train, X_test,Y_train, Y_test)
        result(Y_test_train,y_pred)
        acc_score.append(result)
        print (f"Elapsed time: {datetime.timedelta(seconds=time.time()-start_time)} ")
    return acc_score
        

main (models)

***************************KNN***************************
acuracy score is 0.7961920360323472
Confusion Matrix
[[7198  216]
 [1775  580]]
Accuracy is: 0.7961920360323472%
F1 score is: 36.809999999999995%
Precision is: 72.86%
Recall is: 24.63%
Elapsed time: 0:00:00.306608
***************************Decision Tree***************************
acuracy score is 0.8157436789845429
Confusion Matrix
[[6497  917]
 [ 883 1472]]
Accuracy is: 0.8157436789845429%
F1 score is: 62.06%
Precision is: 61.62%
Recall is: 62.51%
Elapsed time: 0:00:00.394934
*************************** Random Forest ***************************
acuracy score is 0.847169618179957
Confusion Matrix
[[6909  505]
 [ 988 1367]]
Accuracy is: 0.847169618179957%
F1 score is: 64.68%
Precision is: 73.02%
Recall is: 58.050000000000004%
Elapsed time: 0:00:00.511857

[<function __main__.result>,
 <function __main__.result>,
 <function __main__.result>]

In [0]:
############################################Decision tree#####################################################3
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state=1000, max_depth=5)
dtc = dtc.fit(X_train, Y_train)
predicted_dtc = dtc.predict(X_test)
from sklearn import metrics
metrics.accuracy_score(Y_test, predicted_dtc)

0.8220902855972976

In [0]:
####################################Cross validation Decision tree ####################################################
from sklearn.model_selection import cross_val_score  
all_accuracies = cross_val_score(estimator=dtc, X=X_train, y=Y_train, cv=5)
all_accuracies.mean()

0.8194103773625299

In [0]:
############################################Grid search#######################################################
from sklearn.model_selection import GridSearchCV
param_grid = {"criterion": ["gini", "entropy"], "min_samples_split": [2, 10], "max_depth": [2, 5, 10]}
grid = GridSearchCV(dtc, param_grid, cv=3, scoring='neg_mean_squared_error')
grid.fit(X_train, Y_train.values.ravel())
y_pred_class = grid.predict(X_test)
grid.best_params_

{'criterion': 'gini', 'max_depth': 5, 'min_samples_split': 2}

{'criterion': 'entropy', 'max_depth': 5, 'min_samples_split': 2}

In [0]:
###################################################KNN#############################################
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=6,metric='minkowski',p=2)
knn =knn.fit(X_train, Y_train)
predicted_knn = knn.predict(X_test)
from sklearn import metrics
metrics.accuracy_score(Y_test, predicted_knn)

0.794451837444979

0.7966014945234927

In [0]:
####################################Cross validation KNN ####################################################
from sklearn.model_selection import cross_val_score  
all_accuracies = cross_val_score(estimator=knn, X=X_train, y=Y_train, cv=5)
all_accuracies.mean()

0.789224267276131

0.7898382926420592

In [0]:
############################################Grid search KNN #######################################################
from sklearn.model_selection import GridSearchCV
param_grid = {'n_neighbors' :np.arange(1,10)}
knn = KNeighborsClassifier()
grid = GridSearchCV(knn, param_grid, cv = 5)
grid.fit(X_train, Y_train)
grid.best_params_

{'n_neighbors': 8}

{'n_neighbors': 8}

In [0]:
##############################################SVC###############################################################
from sklearn.svm import SVC
svc = SVC(kernel='rbf', C=1.0, degree=3, class_weight=None, max_iter=50)
svc =svc.fit(X_train, Y_train)
predicted_svc = svc.predict(X_test)
from sklearn import metrics
print (metrics.accuracy_score(Y_test, predicted_svc))

import time
import datetime
start_time = time.time()
print (f"Elapsed time: {datetime.timedelta(seconds=time.time()-start_time)} ")

/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.8027433718906746
Elapsed time: 0:00:00.000067

In [0]:
####################################Cross validation SVC ####################################################
from sklearn.model_selection import cross_val_score  
all_accuracies = cross_val_score(estimator=svc, X=X_train, y=Y_train, cv=5)
all_accuracies.mean()

/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:244: ConvergenceWarning: Solver terminated early (max_iter=50).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  % self.max_iter, ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:244: ConvergenceWarning: Solver terminated early (max_iter=50).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  % self.max_iter, ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:244: ConvergenceWarning: Solver terminated early (max_iter=50).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  % self.max_iter, ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:244: ConvergenceWarning: Solver terminated early (max_iter=50).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  % self.max_iter, ConvergenceWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:244: ConvergenceWarning: Solver terminated early (max_iter=50).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  % self.max_iter, ConvergenceWarning)

0.7587311108901031

In [0]:
############################################Grid search SVC #######################################################
from sklearn.model_selection import GridSearchCV
param_grid = {'C' :np.arange(0.1,1)}
svc = SVC()
grid = GridSearchCV(svc, param_grid, cv=3)
grid.fit(X_train, Y_train)
grid.best_params_

/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

{'C': 0.1}

In [0]:
###############################################Logistic Regression#################################
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(random_state=0)
lr = lr.fit(X_train,Y_train)
predicted_lr = lr.predict(X_test)
from sklearn.metrics import accuracy_score
from sklearn import metrics
metrics.accuracy_score(Y_test, predicted_lr)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7769474869485106

In [0]:
####################################Cross validation Logistic Regression ####################################################
from sklearn.model_selection import cross_val_score  
all_accuracies = cross_val_score(estimator=lr, X=X_train, y=Y_train, cv=5)
all_accuracies.mean()

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7754038110295262

In [0]:
############################################Grid search logistic Regression #######################################################
from sklearn.model_selection import GridSearchCV
param_grid = {'C' :np.arange(0.1,1)}
reg = LogisticRegression()
grid = GridSearchCV(lr, param_grid, cv = 5)
grid.fit(X_train, Y_train)
grid.best_params_

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

{'C': 0.1}