<a href="https://colab.research.google.com/github/e233826/notebook/blob/master/Zarepakzad_adult_census_income.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
############################## IMPORTING DATA SET ##################################
####################################################################################

import pandas as pd
import numpy as np
from sklearn import preprocessing
income_census = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',names = ["age", "workclass","fnlwgt","education", "education-num","marital-status",                                           "occupation","relationship","race", "sex", "capital.gain","capital.los" ,
"hours.per.week","native.country", "income"] , na_values=["?"])
income_census

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital.gain,capital.los,hours.per.week,native.country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [0]:
income_census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital.gain      32561 non-null int64
capital.los       32561 non-null int64
hours.per.week    32561 non-null int64
native.country    32561 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [0]:
############################ CHECKING EMPTY INPUTS #################################
####################################################################################

income_census.replace('[?]', np.nan, regex=True , inplace=True)
income_census

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital.gain,capital.los,hours.per.week,native.country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,NaN,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,NaN,180211,Some-college,10,Married-civ-spouse,NaN,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,NaN,33811,Bachelors,13,Never-married,NaN,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,NaN,287372,Doctorate,16,Married-civ-spouse,NaN,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,NaN,202822,HS-grad,9,Separated,NaN,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,NaN,129912,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [0]:
############################ COUNTING EMPTY INPUTS #################################
####################################################################################

income_census.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.los          0
hours.per.week       0
native.country     583
income               0
dtype: int64

In [0]:
####### REPLACING EMPTY INPUTS OF "workclass" ATTRIBUTE WITH ITS MODE ##############
####################################################################################

income_census['workclass'].mode()

0     Private
dtype: object

In [0]:
income_census ['workclass'].replace( np.nan, 'Private',regex=True , inplace=True)

In [0]:
##### REPLACING EMPTY INPUTS OF "occupation" ATTRIBUTE WITH ITS MODE ###############
####################################################################################

income_census['occupation'].mode()

0     Prof-specialty
dtype: object

In [0]:
income_census ['occupation'].replace( np.nan, ' Prof-specialty',regex=True , inplace=True)

In [0]:
##### REPLACING EMPTY INPUTS OF "native.country" ATTRIBUTE WITH ITS MODE ###########
####################################################################################

income_census['native.country'].mode()

0     United-States
dtype: object

In [0]:
income_census['native.country'].replace( np.nan, 'United-States',regex=True , inplace=True)

In [0]:
################### COUNTING EMPTY INPUTS AFTER REPLACEMENT ########################
####################################################################################

income_census.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.los       0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [0]:
from sklearn.preprocessing import LabelEncoder
lb_make = LabelEncoder()

In [0]:
######## MERGING SIMILAR CHARACTERISTICS OF "workclass" & LABEL ENCODING ###########
####################################################################################

self_emp= ['Self-emp-not-inc','Self-emp-inc']
gov_emp= ['Local-gov','State-gov','Federal-gov']
no_earn= ['Without-pay',' Never-worked']
income_census['workclass'].replace(to_replace = self_emp , value = 'self_emp',regex=True , inplace=True)
income_census['workclass'].replace(to_replace = gov_emp, value = 'gov_emp',regex=True , inplace=True)
income_census['workclass'].replace(to_replace = no_earn, value = 'no_earn',regex=True , inplace=True)
income_census['workclass']= lb_make.fit_transform(income_census['workclass'])
income_census.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital.gain,capital.los,hours.per.week,native.country,income
0,39,1,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,3,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,0,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,0,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,0,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [0]:
######## MERGING SIMILAR CHARACTERISTICS OF "education"  & LABEL ENCODING ##########
####################################################################################

h_school = ['HS-grad','11th','10th','9th','12th']
e_school = ['1st-4th','5th-6th','7th-8th']
university = ['Bachelors','Some-college']
income_census['education'].replace(to_replace = h_school,value = 'h_school',regex=True, inplace = True)
income_census['education'].replace(to_replace = e_school,value = 'e_school',regex=True,inplace = True)
income_census['education'].replace(to_replace = university,value = 'university',regex=True,inplace = True)
income_census['education']= lb_make.fit_transform(income_census['education'])
income_census.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital.gain,capital.los,hours.per.week,native.country,income
0,39,1,77516,8,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,3,83311,8,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,0,215646,7,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,0,234721,7,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,0,338409,8,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [0]:
###### MERGING SIMILAR CHARACTERISTICS OF "marital-status"  & LABEL ENCODING #######
####################################################################################

married= ['Married-spouse-absent','Married-civ-spouse','Married-AF-spouse']
separated = ['Separated','Divorced']
income_census['marital-status'].replace(to_replace = married , value = 'married',regex=True, inplace = True)
income_census['marital-status'].replace(to_replace = separated,value = 'separated',regex=True, inplace = True)
income_census['marital-status']= lb_make.fit_transform(income_census['marital-status'])
income_census.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital.gain,capital.los,hours.per.week,native.country,income
0,39,1,77516,8,13,0,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,3,83311,8,13,2,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,0,215646,7,9,3,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,0,234721,7,7,2,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,0,338409,8,13,2,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [0]:
####################### LABEL ENCODING OBJECT ATTRIBUTES ###########################
####################################################################################

income_census['race'] = lb_make.fit_transform(income_census['race'])
income_census['sex'] = lb_make.fit_transform(income_census['sex'])
income_census['occupation'] = lb_make.fit_transform(income_census['occupation'])
income_census['native.country'] = lb_make.fit_transform(income_census['native.country'])
income_census['income'].replace('<=50K','0',regex=True, inplace = True)
income_census['income'].replace('>50K','1',regex=True,inplace = True)

In [0]:
################### DROPPING DUPLICATED/SIMILAR ATTRIBUTES #########################
####################################################################################

income_census.drop('fnlwgt' , axis = 1, inplace = True)
income_census.drop('education-num' , axis = 1, inplace = True)
income_census.drop('relationship' , axis = 1, inplace = True)
income_census.drop('capital.gain' ,axis = 1,inplace = True)
income_census.drop('capital.los' ,axis = 1,inplace = True)

In [0]:
###################### PREPARING TRAIN AND TEST SETS ###############################
####################################################################################

from sklearn.model_selection import train_test_split
data = income_census
target = data['income']
del data['income']
data = pd.get_dummies(data)
X_train, X_test, Y_train, Y_test = train_test_split(data, target, test_size = 0.2)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((26048, 9), (6513, 9), (26048,), (6513,))

In [0]:
########### IMPORTING LEARNING/PEFORMANCE EVALUATION LIBRARIES #####################
####################################################################################

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score,GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn import metrics

In [0]:
######################### a.1. LOGISTIC REGRESSION:ACCURACY ########################
####################################################################################

LR = LogisticRegression(solver = 'sag', max_iter=10000, C =0.01)
LR = LR.fit(X_train,Y_train)
predicted_LR = LR.predict(X_test)
metrics.accuracy_score(Y_test, predicted_LR)

0.771380316290496

In [0]:
##################### a.2. LOGISTIC REGRESSION:CROSS-VALIDATION ####################
####################################################################################

all_accuracies = cross_val_score(estimator=LR, X=X_train, y=Y_train, cv=3)
all_accuracies.mean()

0.7585992316396745

In [0]:
####################### a.3. LOGISTIC REGRESSION:GRID SEARCH #######################
####################################################################################

param_grid = {'C' :np.arange(0.01,1, 0.2), 'solver': ["lbfgs", "sag"]}
grid = GridSearchCV(LR, param_grid, cv = 3)
grid.fit(X_train, Y_train)
grid.best_params_

{'C': 0.01, 'solver': 'sag'}

In [0]:
############################ b.1. DECISION TREE:ACCURACY ###########################
####################################################################################

DT = DecisionTreeClassifier(max_depth=10, min_samples_split= 12)
DT = DT.fit(X_train, Y_train)
predicted_DT = DT.predict(X_test)
metrics.accuracy_score(Y_test, predicted_DT)

0.8211269768155995

In [0]:
######################### b.2. DECISION TREE:CROSS-VALIDATION ######################
####################################################################################

all_accuracies = cross_val_score(estimator=DT, X=X_train, y=Y_train, cv=3)
all_accuracies.mean()

0.8192567516783632

In [0]:
########################## b.3. DECISION TREE:GRID SEARCH ##########################
####################################################################################

param_grid = {'min_samples_split':np.arange(4,14,2), 'max_depth':np.arange(4,14,2)}
grid = GridSearchCV(DT, param_grid, cv=3, scoring='neg_mean_squared_error')
grid.fit(X_train, Y_train.values.ravel())
y_pred_class = grid.predict(X_test)
grid.best_params_

{'max_depth': 10, 'min_samples_split': 12}

In [0]:
##################### c.1. SUPPPORT VECTOR MECHINE:ACCURACY ########################
####################################################################################

SV = SVC(gamma='auto', C=0.8)
SV =SV.fit(X_train, Y_train)
predicted_SV = SV.predict(X_test)
metrics.accuracy_score(Y_test, predicted_SV)

0.8002456625211116

In [0]:
############### c.2. SUPPPORT VECTOR MECHINE:CROSS-VALIDATION  #####################
####################################################################################

all_accuracies = cross_val_score(estimator=SV, X=X_train, y=Y_train, cv=3)
all_accuracies.mean()

0.7873543222417002

In [282]:
######################## c.3. SUPPPORT VECTOR: GRID SEARCH #########################
####################################################################################

import warnings
warnings.filterwarnings('ignore')
param_grid = {'C' :[0.2, 0.5, 0.8]}
SV = SVC()
grid = GridSearchCV(SV, param_grid, cv=3)
grid.fit(X_train, Y_train)
grid.best_params_

{'C': 0.8}

In [286]:
######################## d.1. K-NEAREST NEIGHBOR: ACCURACY  ########################
####################################################################################

KNN = KNeighborsClassifier(n_neighbors= 9, weights= 'uniform')
KNN =KNN.fit(X_train, Y_train)
predicted_KNN = KNN.predict(X_test)
metrics.accuracy_score(Y_test, predicted_KNN)

0.7951788730231844

In [284]:
#################### d.2. K-NEAREST NEIGHBOR: CROSS-VALIDATION  ####################
####################################################################################

all_accuracies = cross_val_score(estimator=KNN, X=X_train, y=Y_train, cv=3)
all_accuracies.mean()

0.7767581630105375

In [285]:
###################### d.3. K-NEAREST NEIGHBOR: GRID SEARCH ########################
####################################################################################

param_grid = {'n_neighbors' :np.arange(1,10,2), 'weights':["uniform","distance"]}
grid = GridSearchCV(KNN, param_grid, cv=3)
grid.fit(X_train, Y_train)
grid.best_params_

{'n_neighbors': 9, 'weights': 'uniform'}